#content {
	
	&.index-content {
		
		.content__item {
			width: 47.5%;
			height: 47.5%;

			&.assessment {
				margin-right: 5%;
			}
		}
	}
}

#sidenav {
	&.open {
		transform: translateX(-2%);
		-webkit-transform: translateX(-2%);
	}
	.menu__item {

		.icon + span {
			margin: 0 0 0 10px;
		}
	}
	uib-accordion {
		
		.panel-title {
			
			.icon + span {
				
				margin: 0 0 0 40px;
			}
		}
	}
}

header {

	.header__item {

		&.main-logo {

			width: 68%;
		}
	}
}