@import "_include-media.scss";
$breakpoints: (small-phone: 320px, large-phone: 414px, tablet: 768px);
//#ffd700
/*normalize.css*/
/* html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.3em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}ul,li{list-style: none}*{margin: 0;padding: 0;} */

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
::-webkit-scrollbar {
	display: none;
}
*:not(input) {
    -webkit-touch-callout:none;                
    -webkit-text-size-adjust:none;             
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    -webkit-user-select:none;                  
}

html, body {
      height: 100%;
}

body {
	width: 100%;
	background: white;
	font-family: 'Roboto', sans-serif;
}

body.opened_menu {
	overflow-y: hidden;
	position: fixed;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

	/* New menu 
		
	   Start code
	*/
	.material-design-hamburger {
		float: left;
		width: 50px;
		height: 36px;
		margin: 0;
		position: relative;
	}
	.material-design-hamburger span {
		background: rgb(161, 16, 21);
	}
	.overflow {
		overflow: hidden;
	}
	#sidenav {
		width: 80%;
		overflow: scroll;
		position: fixed;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		bottom: 0;
		top: 0;
		transition: all 0.2s ease-in-out;
		z-index: 10;

		&.open {
			transform: translateX(0%);
			-webkit-transform: translateX(0%);
		}
		.menu__body {
			width: 100%;
			height: auto;
			position: relative;
			left: 0;
			z-index: 3;
			overflow-y: scroll;
			color: #1d1d1d;
			background-color: #fafafa;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
		}
	}
	/* New menu 
		
	   End code
	*/

		.menu__head {
			float: left;
		    width: 100%;
		    height: 65px;
		    background-color: #bb151b;
		    font-weight: 600;
		    font-size: 14px;
		    padding: 0 15px;
		    box-sizing: border-box;
		    color: white;
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    position: relative;
		    box-shadow: 0px 3px 7px rgba(0,0,0, 0.5);

		    #menu__close {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto 0;
				right: 15px;
				z-index: 3;
				width: 33px;
				height: 33px;
				background-image: url(img/Menu_close_w@2x.png);
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}

nav {
	float: left;
	height: auto;
	width: 100%;
	z-index: 5;
	padding: 15px;

	.menu__item {
		width: 100%;
		float: left;
		padding: 7.5px 0 7.5px 0;
		overflow: hidden;
		height: 30px;
	    box-sizing: content-box;

	    &:focus,
		&:hover {
			color: #bb151b;

			&.evaluation .icon { background-image: url(img/menu_icons/Menu_evaluation_red.png); }
			&.location .icon { background-image: url(img/menu_icons/Menu_location_red.png); }
			&.payment .icon { background-image: url(img/menu_icons/Menu_payment_red.png); }
			&.program .icon { background-image: url(img/menu_icons/Menu_program_red.png); }
			&.credit .icon {	background-image: url(img/menu_icons/Menu_credit_red.png); }
			&.conditions .icon {	background-image: url(img/menu_icons/Menu_conditions_red.png); }
			&.about .icon {	background-image: url(img/menu_icons/Menu_about_red.png); }
		}

		.icon {
			float: left;
			height: 30px;
			width: 30px;
			background-size: 100%;
			background-position: 35% center;
			background-repeat: no-repeat;
			opacity: .8;
			will-change: background-image;
			transition: background-image .2s linear;
		}
		span {
			float: left;
			width: 60.33%;
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			opacity: .8;
			font-size: 14px;
			font-weight: 700;
			text-align: left;
		    transition: color .2s linear;
		    will-change: color;
		    margin: 0 0 0 25px;

		    @include media("<=small-phone") {
				margin: 0 0 0 10px;
		    }
		}
		
		&.payment, &.credit {
			padding-bottom: 19px;
		}
		&.credit, &.about {
			padding-top: 19px;
		}

		.evaluation .icon {	background-image: url(img/menu_icons/Menu_evaluation.png); }
		.location .icon { background-image: url(img/menu_icons/Menu_location.png); }
		.payment .icon { background-image: url(img/menu_icons/Menu_payment.png); }
		.program .icon { background-image: url(img/menu_icons/Menu_program.png); }
		.credit .icon {	background-image: url(img/menu_icons/Menu_credit.png); }
		.conditions .icon {	background-image: url(img/menu_icons/Menu_conditions.png); }
		.about .icon {	background-image: url(img/menu_icons/Menu_about.png); }
	}

	uib-accordion {
		.panel.panel-default {
			background-color: #fafafa;
			//transition: padding-bottom .2s linear;
			//will-change: padding-bottom;

			&.panel-open {
				padding-bottom: 0;
			}
		}
		.panel-heading {
			padding: 0;
		}
		.panel-title {
			.icon {
				position: absolute;
				bottom: -3px;
				margin-right: 0;

				& + span {
					margin-left: 55px;

					@include media("<=small-phone") {
						margin-left: 40px;
					}
				}
			}
			& > a > span {
				position: relative;
			}
		}
		.panel-group .panel-heading + .panel-collapse > .panel-body,
		.panel-group .panel-heading + .panel-collapse > .list-group {
			border: none;
		}
		.panel-collapse {
			//margin-top: 5px;
			//will-change: height, margin-top;
		}
	}

}
.slider__container {
	width: 100%;
	height: 100%;

	ul[rn-carousel] {
		height: 100%;
		margin: 0;

		/* li {
			height: auto;
			display: block;
		} */
	}

}
			.dropdown {

				transition: height .2s linear;

				will-change: height;

			}

/* Иконки пунктов меню */

		.menu__footer {
			float: left;
			width: 100%;
		    height: 80px;
		    padding-top: 20px;
		}
			.menu__footer .lang {
				float: left;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				font-size: 19px;
			    font-weight: 600;
				color: #bb151b;
				border: 1px solid #bb151b;
				text-align: center;
				line-height: 36px;
				margin-left: 15px;
				display: inline-block;

				&.ua.active {
					background-image: url(img/menu_ua_act@2x.png);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					color: transparent;
				}

				&.ru.active {
					background-image: url(img/menu_ru_act@2x.png);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					color: transparent;
				}
			}

			.menu__footer .lang.active {
				box-sizing: border-box;
				color: white;
				overflow: hidden;
				position: relative;
				background-color: #bb151b;
			}

			.menu__footer_callback {
				float: right;
				margin-right: 18px;
				margin-top: 5px;
			}

.menu__background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.65);
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s linear;
	will-change: opacity, visibility;

	&.open-menu {
		visibility: visible;
		opacity: 1;
	}
}

.menu__item.active > span {
	color: #bb151b;
}
.menu__item.active .triangle {
	border-color: #bb151b transparent transparent transparent;
	transform: rotate(180deg);
}
.menu__item.evaluation.active .icon {
	background-image: url(img/menu_icons/Menu_evaluation_red.png);
}
.menu__item.program.active .icon {
	background-image: url(img/menu_icons/Menu_program_red.png);
}
.menu__item.conditions.active .icon {
	background-image: url(img/menu_icons/Menu_conditions_red.png);
}

header {
	float: left;
	position: fixed;
	background: #f0f1f3;
	width: 100%;
    height: 65px;
    z-index: 2;
    top: 0;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 1px 1px #dddddd;
    box-sizing: border-box;

    .header__container {
		position: relative;
		width: 100%;
		height: 100%;

		.header__item {
			height: 100%;
			text-align: center;

			&.hamburger {
				width: 50px;
				float: left;

				.material-design-hamburger {
					float: left;
					width: auto;
					height: auto;
					margin: 0;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					left: -30px;
					top: -3px;

					.material-design-hamburger__icon {
						padding: 3rem 1rem;
					}
					span {
						animation: none;
						
						&:before {
							bottom: 250%;
							animation: none;
						}
						&:after {
							top: 250%;
							animation: none;
						}
					}
				}
			}
			&.main-logo {
				width: calc(100% - 100px);
				float: left;

				.header__logo {
					float: none;
					width: auto;
					display: inline-block;
					line-height: 65px;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}
			}
			&.call {
				width: 50px;
				float: right;
				line-height: 65px;

				.header__callback {
					width: 27px;
					height: 27px;
					float: none;
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px 0 0;
					top: -2px;
				}
			}
		}
    }
}

.logo {
	float: left;
	width: 70%;
	height: auto;
	display: block;
	text-align: center;

	&.footer__logo {
		text-align: left;
	}
	span {
		color: #bb161c;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 23px;

		&:first-child {
			text-shadow: -1px 1px 0px #bb161c;
			margin-right: 6px;
		}    

		&:last-child {
			border-radius: 9% / 50%;
			border: 2px solid #ba1419;
			padding: 0 9px 0 9px;
			color: white;
			background-color: #ba1419;
		}
	}
}

.callback {
	background: url(img/Glavnaya_call.png) no-repeat;
	background-size: cover;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    float: right;
    position: relative;
    top: 5px;
}

#slider {
	float: left;
	width: 100%;
	height: 90px;
	position: relative;

	.slide {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		will-change: opacity;
	}
}

#content {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	background: #f9f9f9;
	color: #444444;
	font-kerning: normal;
}

footer {
	float: left;
	width: 100%;
    height: 260px;
	background-color: #f0f1f3;
	border-top: 2px solid #e2e2e2;
	padding: 20px;
	font-size: 15px;
	box-sizing: border-box;

	.logo {
		width: 100%;
	}
	.footer__main_text {
    	margin: 7.5px 0 7.5px 0;
    	color: #5a5c61;
    	line-height: 1.4;
    	font-size: 14px;

    	a {
			text-decoration: underline;
			font-weight: 700;
		}

		b {
			color: black;
		}
		i {
			font-style: normal;
		    color: #5B5D5F;
		    font-weight: bold;
		}
	}
	.footer__secondary_text {
		color: #6a6d72;
		font-weight: 600;
	}
}	



/* Frodo codit */

	.header-space {
		top: 0;
		float: left;
		background: white;
		display: block;
		width: 100%;
	    height: 65px;
	}

	.ui-loader {
		display: none !important;
	}

	.text__block {
		height: 100%;
		padding: 0 7%;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 1.6;
	}

	.text__block__1 {
		font-size: 32px;
		box-sizing: border-box;
		padding: 15px 7%;
		color: #434850;
		background-color: #fff;
		border-bottom: 1px solid #e6e6e6;
	}

	.text__block__2 {
		font-size: 16px;
	}

	.empty__space {
		min-height: 300px;
	}

	#accordion__section {
		float: left;
		width: 100%;
	    justify-content: space-around;
	    background-color: #F9F9F9;
	    min-height: 300px;
	}
	.no_min_height {
		min-height: 0 !important;	
	}

			.icon.right-5 {

				right: 5%;

			}

			.top_line {

				width: 90%;

				margin: 0 auto;

				box-sizing: border-box;

				border-top: 1px solid #e6e6e6;

				padding: 15px 0;

				padding-right: 20px;

			}

			.bottom_line {

				border-bottom: 1px solid #e6e6e6;

				width: 90%;

				margin: 0 auto;

			}

			.top_15px {

				margin-top: 20px;

			};

			.top-20px {

				margin-top: 20px;

				width: 100%;

				font-weight: bold;

			}

			.top__10px {

				margin-top: 10px;

				width: 100%;

				font-weight: bold;

			}



	.red__button {
		width: 86%;
		box-sizing: border-box;
		padding: 0 20px;
		margin: 0 auto;
		height: 60px;
		border-bottom: 5px solid rgb(161, 16, 21);
		line-height: 60px;
		border-radius: 2px;
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		color: white;
		background-image: -webkit-linear-gradient(top, rgba(161, 16, 21,  1), rgba(187, 20, 26,  1));
	    transition: 0.2s border-bottom ease-in-out;
	    will-change: border-bottom;
	}

		.red__button:active {
			border-bottom: 2px solid #A11015;
		}

		.red__button:hover {
			border-bottom: 2px solid #A11015;
		}

		.red__button.grey__color {
			background-image: none;
			background-color: #b5b5b5;
			border-bottom-color: #a7a7a7;
		}
			.red__button.grey__color:active {
				border-bottom: 2px solid #a7a7a7;
			}
			.red__button.grey__color:active {
				border-bottom: 2px solid #a7a7a7;
			}


	#table {
		float: left;
		width: 100%;
		box-sizing: border-box;
		padding: 0 7.5%;
		background-color: #f9f9f9;
	}

		.table__wrapper {
			width: 100%;
			text-align: center;
			margin: 0 auto;
			border-collapse: collapse;
			table-layout: fixed;
			word-break: break-word;
			background-color: #fff;
			font-size: 14px;

			.tr_3 {
				font-size: 14px;
			}
			.align__top {
				vertical-align: top;
			}
			td {
				width: 50%;
				padding: 10px;
			}
			th,
		    td {
		        border: 1px solid #000;
		    }
		}

		.margin__20b{

			margin-bottom: 20px;

		}

	.icon__menu_location{

		height: 27px;

		width: 23px;

		display: inline-block;

		background-image: url(img/Map_location-small@2x.png);

		background-size: cover;

		position: relative;

		top: 16px;

		float: left;

		margin-right: 20px;

	}

	#map {

		float: left;

		top: 0.4px;

		position: relative;

		width: 100%;

		//height: 342px;

	}

	.modal__layout {
		box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
		z-index: 3;
		padding: 20px 30px;
		background-color: white;
		border-radius: 2px;
		overflow: scroll;
	}

		.icon__cross {

			position: absolute;

			right: 10px;

			top: 10px;

			font-size: 18px;

			color: #676b75;

		}

		.modal__text_block {
			font-size: 14px;

			&.anketa {
				padding: 20px 7%;

				.text__block__1 {
					padding: 0 0 20px 0;
					font-size: 34px;
				}
			}
		}
		.modal__text_block_head {
			font-weight: bold;
		}
		.modal__text_block_body {
			margin-top: 5px;
		}

		.modal__button {
			width: 100%;
			margin-top: 10px;
			padding: 0 5px;
			border-radius: 2px;
		}

		.modal__image {
			position: relative;
			margin-top: 15px;

			img {
				max-width: 100%;
				max-height: 57%;
				display: block;
				margin: 0 auto;
			}
		}

			

	#bottom__button {

		float: left;

		padding: 25px 0;

		text-align: center;

		width: 100%;

		position: relative;

	}

		#bottom__button .red__button {

			padding: 0;

		}



	.icon__menu_search {

		height: 27px;

		width: 23px;

		display: inline-block;

		background-image: url(img/Map_search@2x.png);

		background-size: cover;

		position: relative;

		top: 16px;

		float: left;

		margin-right: 14px;

	}

		.select__office {

			width: 80%;

			margin: 0 auto;

			display: block;

			margin-bottom: 20px;

		}

		.select__text {

			position: relative;

			display: block;

			width: 100%;

			font-size: 14px;

			text-indent: 7px;

			font-family: 'Open Sans', sans-serif;

			padding: 5px 0;

			color: #666666;

			//border-bottom: 1px solid #c2c2c2;

			//border-radius: 2px;

		}

		.select__wrapper ul {

			display: block;

			list-style: none;

			width: 100%;

			font-family: 'Open Sans', sans-serif;

			font-size: 14px;

			border: 1px solid #c2c2c2;

			border-radius: 2px;

			color: #666666;

			box-sizing: border-box;

			position: relative;

			background-color: white;

		}

			.select__item__wrapper {

				display: none;

				text-indent: 7px;

				border-top: none;

			}

			.unpick ul {

				background-color: #f9f9f9;

			}

			.select__item__wrapper.wrapper__open{

				display: block;

				max-height: 200px;

				border-top: 1px solid #c2c2c2;

				overflow: scroll;

			}

				li.select__item {

					width: 100%;

					height: 30px;

					background-color: white;

					line-height: 30px;

					display: block;

					opacity: 1;

					border-bottom: 1px solid #c2c2c2;

					-webkit-transition: all 0.2s ease-in-out;

				    -moz-transition: all 0.2s ease-in-out;

				    -o-transition: all 0.2s ease-in-out;

				    transition: all 0.2s ease-in-out;

				}

				.select__item.select__open {

					opacity: 1;

					position: relative;

				}

				.select__item:last-child{

					border-bottom: none;

				}

		.icon__wrapper {

			position: relative;



		}

		.select__icon__open {

			position: absolute;

			right: 1%;

			top: 10%;

			height: 27px;

			width: 27px;

			display: inline-block;

			background-image: url(img/Menu_arrow@2x.png);

			background-size: cover;

			-webkit-transition: 0.2s ease-in-out;

		    -moz-transition: 0.2s ease-in-out;

		    -o-transition: 0.2s ease-in-out;

		    transition: 0.2s ease-in-out;

		}

		.select__icon__open.icon__reverse {

			-webkit-transform: rotate(180deg);

		    -moz-transform: rotate(180deg);

		    -o-transform: rotate(180deg);

		    -ms-transform: rotate(180deg);

		    transform: rotate(180deg);

		}

		.accordion__body .red__button {

			margin-bottom: 20px;

		}

		.search__result {

			color: #ba1419;

			width: 90%;

			font-size: 14px;

			font-weight: bold;

			margin-top: 15px;

			display: none;

		}

		#content1 p {
			font-size: 16px;
		}

		.empty__content1 {
			width: 100%;
			height: 100%;
			padding: 40px 80px;
			font-size: 14px;
			text-align: center;

			img {
				display: block;
				height: 60px;
				margin: 0 auto 20px;
			}

		}

		.text__block {
			&.no-margin {
				margin: 0;
			}
			&.eval-promise-info {
				margin: 15px 0;
			}
		}
		/* Anketa */
		.anketa-header {
			font-size: 27px;
			line-height: 1.4;
			margin: 20px 0 5px 0;
		}
		.checkbox__block.no-float {
			float: none;
			margin-bottom: 20px;
		}
		.clear {
			clear: both;
		}
		.checkbox__block,
		.quiz__check {
			width: 100%;
			padding: 0 7%;
			margin-bottom: 20px;

			&.add-float {
				input + label {
					float: left;
					width: 50%;
					margin-bottom: 15px;
				}
			}

			input {
				display: none;
			}

			& input + label {
				display: block;
				margin: 15px 0 0 0;
				font-size: 14px;
				font-weight: normal;
			}

			& #pochta + label {
				margin: 0;
			}

			& input + label::before {
				content: ' ';
				display: inline-block;
				width: 20px;
				height: 20px;
				color: #f9f9f9;
				top: 5px;
				position: relative;
				margin: 0 5px 0 0;
				line-height: 16px;
				cursor: pointer;
				transition: all ease-in-out 0.125s;
				font-weight: bold;
				background-image: url(img/blago_checkboxes.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: cover;
			}
			& input:checked + label::before {
				background-position: -18px 0;
			}

			& .input__error {
			    margin-top: 20px;
			    position: relative;
			    font-size: 14px;
			    font-weight: 400;
			    width: 100%;
			    color: #e41818;
			    display: block;

			    &.select {
					display: block;
				}
				&.ng-hide-add {
					animation: 0.5s hideFilterError ease;
				}
				&.ng-hide-remove {
					animation: 0.5s addFilterError ease;
				}
			}
			& .input__block {
				margin: 20px 0;
				padding: 0;
			}
			&.select__wrapper_1 {
				padding: 0;

				/* select {
					appearance: button-arrow-down;
				} */
			}
		}
		.input__block {
			padding: 0 7%;
			margin: 0 0 20px 0;
			font-size: 14px;
			transition: 0.3s all ease-in-out;

			&.inp-need-card input {
				transition: 0.3s all ease-in-out;
				background-color: #fff;
				will-change: background-color;

				&:disabled {
					background-color: #ebebe4;
				}
			}

			&.date {
				strong {
					display: block;
				}
				& > div {
					float: left;
					width: 100%;
					margin: 15px 0 5px 0;
				}
				& + .clear + .input__block {
					margin-top: 20px;
				}
			}
			& input, select, textarea {
				display: block;
				border: 1px solid #c5c5c5;
				border-radius: 3px;
				outline: 0;
				width: 100%;
				box-sizing: border-box;
				padding: 5px;
				font-size: 14px;
				font-weight: normal;
				color: #9d9d9d;
				margin: 10px 0 10px 0;
				background: #fff;

				&::placeholder {
					opacity: 1;
				}
			}
			& select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin: 0;

				&.error {
					border-color: #c4383d;
					color: #c4383d;

					& + .input__error,
					& + i.arrow {
						color: #c4383d;
					}
				}
			}
			& input {
				&.not-active {
					background-color: #dbdbdb;
				}
				&.error {
					border-color: #c4383d;
					color: #c4383d;

					& + .input__error {
						color: #c4383d;
						display: block;
					}
				}
				&.external-state {
					display: none;
				}

			}
			& textarea {
				height: 60px;
				resize: none;
			}
			& .arrow {
				position: absolute;
				right: 7px;
				top: 10px;
				transition: all linear 0.3s;
			}
			& .select__wrapper {
				position: relative;
				float: left;

				&.day {
					width: 23%;
				}
				&.month {
					width: 50%;
					margin-left: 2%;
				}
				&.year {
					width: 23%;
					margin-left: 2%;
				}
			}
			& .select__wrapper_1 {
				position: relative;
				margin: 10px 0 10px 0;
			}
			& .input__error {
				position: relative;
				font-size: 14px;
				font-weight: 400;
				width: 100%;
				color: #e41818;
				opacity: 1;

				&.select {
					display: block;
				}
				&.ng-hide-add {
					animation: 0.5s hideFilterError ease;
				}
				&.ng-hide-remove {
					animation: 0.5s addFilterError ease;
				}
			}
			&.upper {
				text-transform: uppercase;
				margin-top: 20px;
				font-weight: bold;
			}
		}
		/* Input error animations */
		@keyframes hideFilterError {
			0% {
				opacity: 1;
				transform: translate(0, 0) scale(1);
			}
			100% {
				display: none;
				opacity: 0;
				transform: translate(0, -5px) scale(0.8);
			}
		}
		@keyframes addFilterError {
			0% {
				display: block;
				opacity: 0;
				transform: translate(0, -5px) scale(0.8);
			}
			100% {
				opacity: 1;
				transform: translate(0, 0) scale(1);
			}
		}
		.divider {
			width: 86%;
			margin: 0 auto;
			border-bottom: 1px solid #e7e7e7;
		}
		.modal__block {
			//height: 80%;
		}
		
		.evaluation-tabs {
			& li {
				width: 50%;
			}
		}
		.office-address-tabs {
			& li {
				width: percentage(1/2);
			}
		}

		form[name="evalForm"]{
			.nav.nav-tabs {
				& li {
					margin-bottom: 0;
					text-align: center;

					a.active-tab {
						background-color: transparent;
					    border: none;
					    border-bottom: 2px solid #b8070e;
					    color: #b8070e;
					}
				}

				& li a {
					text-transform: uppercase;
					background-color: transparent;
					border: none;
					border-bottom: 2px solid transparent;
					transition: 0.3s all linear;
					color: #bbb;
					font-size: 16px;
					font-weight: 500;
				}

				& li a:focus,
				& li a:hover {
					background-color: transparent;
					border: none;
					border-bottom: 2px solid #b8070e;
					color: #b8070e;
				}
			}
		}

		.star__block {
			margin-top: 15px;
			font-size: 28px;
			color: #b5b5b5;
			transition: 0.3s all ease-in-out;

			span {
				outline: 0;
			}
			& i {
				margin-right: 20px;
			}

			& i.icon-bolder {
				color: #ffd700;
			}
		}

/* Pre-loader */
.loader__wrapper {

	$height: calc(100% - 65px);

	position: fixed;
	width: 100%;
	height: $height;
	z-index: 10;
	top: 65px;

	.loader__background {
		position: fixed;
		width: 100%;
		height: $height;
		background-color: rgba(255, 255, 255, .6);
		z-index: 11;
	}
	.loader__animation {
		position: fixed;
		width: 100%;
		height: $height;
		z-index: 12;

		img {
			width: 20%;
			height: 12%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			filter: blur(1px);
		}
	}

	&.ng-hide-add {
		animation: 0.3s spinnerFadeOut ease-in-out;
	}
	&.ng-hide-remove {
		animation: 0.3s spinnerFadeIn ease-in-out;
	}

	@keyframes spinnerFadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes spinnerFadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
/* Menu dropdown config */
.panel-title .icon {
    display: block;
    margin-right: 20px;
    float: left;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    background-position: center center;
    opacity: .8;
    transition: 0.3s all ease-in-out;

    & + span {
    	font-size: 14px;
    	font-weight: 700;
    }
    &.program {
		background-image: url(img/menu_icons/Menu_program@2x.png);

		&.icon-red {
			background-image: url(img/menu_icons/Menu_program@2x_red.png);
		}
    }
    &.conditions {
		background-image: url(img/menu_icons/Menu_conditions@2x.png);

		&.icon-red {
			background-image: url(img/menu_icons/Menu_conditions@2x_red.png);
		}
    }
    & ~ .fa-caret-down {
    	float: right;
    	position: relative;
    	top: 3px;
    	transition: 0.3s all ease-in-out;

    	&.arrow-change-angle {
    		transform: rotate(180deg);
    	}
    }
}
.panel-group {
	margin: 0;
	
	.panel-heading + .panel-collapse > .panel-body,
	.panel-heading + .panel-collapse > .list-group {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.panel-collapse {
		will-change: height;
	}
}
.panel-default > .panel-heading {
	background-color: #fafafa;		
}
.panel {
	border: 0;
	box-shadow: none;

	&.panel-open {
		.panel-heading a {
			//color: #bb151b;
		}
	}
	a {
		text-decoration: none;
		transition: color .2s linear;
		will-change: color;
	}
	a:hover,
	a:focus {
		color: #bb151b;
		
		.icon {
			&.program {
				background-image: url(img/menu_icons/Menu_program@2x_red.png);
			}
			&.conditions {
				background-image: url(img/menu_icons/Menu_conditions@2x_red.png);
			}
		}
	}
}
.panel-body {
	padding: 5px 0 5px 30%;
	background-color: #fafafa;
}

/* DropDown accordion - type 1 */

.DD__type-1 {
	.panel {
		background-color: #fafafa;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		padding: 0;
		width: 86%;
		margin: 0 auto;
	}
	.panel-heading {
		color: #434850;
		padding: 15px 0;

		.panel-title {

		}
		.fa-caret-down {
			line-height: 1.2;
			float: right;
			position: relative;
			left: -5px;
			transition: 0.3s all ease-in-out;

	    	&.arrow-change-angle {
	    		transform: rotate(180deg);
	    	}
		}
	}
	.panel-body {
		padding: 0 0 15px 0;
		margin: 0;
		border-top: none;
	}
	.panel-group .panel-heading + .panel-collapse > .panel-body,
	.panel-group .panel-heading + .panel-collapse > .list-group {
		border: none;
	}
	.panel-open {
		
		.panel-heading {
			border-bottom-color: transparent;
			transition: 0.3s all ease-in-out;
		}
	}
	span {
		font-family: 'Roboto', sans-serif;
	}
	&.last {
		
		.panel {
			border-bottom: 0;
		}
	}
}
.DD__type-2 {
	@extend .DD__type-1;

	.panel {
		width: 90%;

		&.panel-open .panel-heading a {
			color: inherit;
		}
	}
	.panel-heading {
		padding: 20px 0;
	}
	.icon__menu_location {
		width: 25px;
		height: 25px;
		top: -4px;
	}
	.panel-title {
		a:hover,
		a:focus,
		a:active {
			color: inherit;
		}
	}
	.panel-body {
		width: 95%;
		margin: 0 auto;
		padding: 10px 0 0;

		.accordion__near_item {
			float: left;

			.item__right {
				float: right;
				width: auto;
			}
		}
	}
	/* adresa otdeleniy */
	.search__icon {
		display: inline-block;
		background-image: url(img/Map_search@2x.png);
		background-size: cover;
		position: relative;
		float: left;
		margin: 0 20px 0 0;
		width: 25px;
		height: 25px;
		top: -4px;
	}
	.find_address__wrapper {

		.select__wrapper {
			position: relative;
		}
		.red__button {
			margin-bottom: 20px;
			padding: 0 5px;
		}
		.select__region {
			width: 100%;
			padding: 5px 0;
			font-size: 14px;
			text-indent: 5px;
			margin: 0 0 20px 0;
			background-color: #f9f9f9;
			color: #666666;
			border-radius: 2px;
			border: 1px solid #c2c2c2;
		}
		.select__city {
			@extend .select__region;
		}
	}
	.search__near {
		margin-bottom: 20px;
		width: 100%;
	}
}

.acc_arrow {
	float: right;
	width: 20px;
	height: 20px;
	background-image: url(img/Menu_arrow@2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item__text {
	padding: 0 7%;
	margin: 0 0 5px 0;
	font-size: 14px;
	font-weight: 700;
}
.float-right {
	float: right;
}
.calc-res {
	font-size: 14px;
	font-weight: 700;
}
.credit-calc{
	margin-top: 40px;
	margin-bottom: 15px;
}
.fa-q-c {
	font-size: 26px;
	color: #bb141a;
	position: relative;
	top: 4px;
	left: 5px;
}
.modal__text {
	padding: 0 7%;
	text-align: center;

	.m-item {
		font-size: 18px;
	}
	.fa-info-circle {
		font-size: 68px;
		color: #bb141a;
		margin-bottom: 25px;
	}
	img {
		max-width: 85px;
		margin-bottom: 25px;
	}
	&.padding-15 {
		padding: 15%;
	}
}
.text__block {
	h3 {
		margin-bottom: 0;
	}
}
.bonuses__question {
	font-size: 16px;
	line-height: 1.6;
}
// map
#content__map {
	float: left;
	width: 100%;
	height: 300px;
	position: relative;

	.loader__wrapper {
		position: absolute;
		height: 100%;
		top: 0;

		.loader__animation {
			position: relative;
			height: 100%;

			img {
				width: 70px;
				height: 65px;
			}
		}
		.loader__background {
			position: absolute;
			height: 100%;
			top: 0;
		}
	}
}
.of-tabs {

	.nav.nav-tabs {
		li {
			margin-bottom: 0;
			text-align: center;
			float: left;
			width: 50%;

			a {
				text-transform: uppercase;
				background-color: transparent;
				border: none;
				border-bottom: 2px solid transparent;
				color: #bbb;
				font-size: 16px;
				font-weight: 500;
				padding: 15px;

				&.active-tab {
					background-color: transparent;
				    border: none;
				    border-bottom: 2px solid #b8070e;
				    color: #b8070e;
				}

				&:focus,
				&:hover {
					transition: 0.3s all ease-in-out;
					background-color: transparent;
					border: none;
					border-bottom: 2px solid #b8070e;
					color: #b8070e;
				}
				@include media("<=small-phone") {
					padding: 15px 5px;
				}
			}
		}
	}
}
#accordion__section {
	.red__button {
		margin-bottom: 20px;
	}
}
.search__near__out {
	color: #b8070e;
	margin: 20px auto 5px;
	width: 90%;
	font-weight: 500;
	font-size: 14px;

	&.ng-hide-add {
		animation: 0.5s searchAdrOut ease-in-out;
	}
	&.ng-hide-remove {
		animation: 0.5s searchAdrIn ease-in-out;
	}

	@keyframes searchAdrOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes searchAdrIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
#content.index-content {
	height: 300px;
	width: 100%;
	padding: 15px;

	.item__wrapper {
		display: table-cell;
		vertical-align: middle;
	}
	.content__item {
		width: calc(50% - 7.5px);
		height: calc(50% - 7.5px);
		text-transform: uppercase;
		color: white;
		font-weight: 300;
	    display: table;
	    text-align: center;
	    padding: 7.5px;

		&.assessment, &.address {
			margin-bottom: 15px;
		}
	    &:nth-child(even) {
			float: right;
		}
		&:nth-child(odd) {
			float: left;
		}

		.icon {
			height: 30px;
			margin: 0 auto 15px;
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
		}

		// Index.html - main icons
		&.assessment {
			background-color: #2980b9;
			.icon {
				width: 32px;
				background-image: url(img/Glavnaya_evaluation@2x.png);
			}
		}	
		&.address {
			background-color: #16a085;
			.icon {
				width: 23px;
				background-image: url(img/Glavnaya_location@2x.png);
			}
		}
		&.credit {
			background-color: #8e44ad;
			.icon {
				width: 39px;
				background-image: url(img/Glavnaya_money@2x.png);
			}
		}
		&.payment {
			background-color: #c0392b;
			.icon {
				width: 29px;
				background-image: url(img/Glavnaya_cash@2x.png);
			}
		}

	}
	@include media(">=large-phone") {
		height: 350px;
	}
	@include media("<=small-phone") {
		height: 270px;
	}
}

.accordion__near_item {
	width: 100%;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1.6;

	.item__right {
		display: inline-block;
		width: 20%;

		.item__marker {
			height: 40px;
			width: 40px;
			display: block;
			background-image: url(img/Map_pointer@2x.png);
			background-size: cover;
			position: relative;
			margin: 0 auto;
			margin-bottom: 5px;
		}

		.item__distance {
			width: 100%;
			text-align: center;
		}
	}

	.item__left {
		float: left;
		width: 80%;
	}

}
.input-disabled {
	background-color: #ebebe4;
}
.opros-sub {
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
}

.top__20px {
	margin-top: 20px;
	width: 100%;
	font-weight: bold;
}
.bottom__15px {
	margin-bottom: 15px;
	display: block;
}

.jewelery-text {
	margin-top: 15px;

	&.ng-hide-add {
		animation: 0.5s hideFilterError ease;
	}
	&.ng-hide-remove {
		animation: 0.5s addFilterError ease;
	}
}
.l-a {
	&:nth-child(1) {
		margin-top: 20px;
	}

	p {
		font-weight: 500;
		font-size: 14px;
	}
}
.pagination {
	padding: 0 7%;

	li {

		&.active {

			a {
				background-color: #ba1419;
				border-color: #ba1419;
			}
		}

		a {
			color: #777;
			outline: 0;

			&:active,
			&:focus,
			&:hover {
				color: #777;
				outline: 0;
			}
		}
	}
}
.search-office {
	text-decoration: underline;
	color: #ba1419;
	font-size: 16px;
	font-weight: 500;
}
.top_20 {
	margin-top: 20px;
}
/*
 *	MEDIA FOR RETINA
 *	Tablets
 *
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), screen and (min-width: 600px) and (min-height: 450px){ 

	.callback {
		background: url(img/Glavnaya_call@2x.png) no-repeat;
		background-size: cover;
	}

	/* Иконки пунктов меню */
	.menu__item {
		&.evaluation .icon {
			background-image: url(img/menu_icons/Menu_evaluation@2x.png);
		}
		&.location .icon {
			background-image: url(img/menu_icons/Menu_location@2x.png);
		}
		&.payment .icon {
			background-image: url(img/menu_icons/Menu_payment@2x.png);
		}
		&.program .icon {
			background-image: url(img/menu_icons/Menu_program@2x.png);
		}
		&.credit .icon {
			background-image: url(img/menu_icons/Menu_credit@2x.png);
		}
		&.conditions .icon {
			background-image: url(img/menu_icons/Menu_conditions@2x.png);
		}
		&.about .icon {
			background-image: url(img/menu_icons/Menu_about@2x.png);
		}

		&:hover,
		&:active {
			&.evaluation .icon { background-image: url(img/menu_icons/Menu_evaluation@2x_red.png); }
			&.location .icon { background-image: url(img/menu_icons/Menu_location@2x_red.png); }
			&.payment .icon { background-image: url(img/menu_icons/Menu_payment@2x_red.png); }
			&.program .icon { background-image: url(img/menu_icons/Menu_program@2x_red.png); }
			&.credit .icon { background-image: url(img/menu_icons/Menu_credit@2x_red.png); }
			&.conditions .icon { background-image: url(img/menu_icons/Menu_conditions@2x_red.png); }
			&.about .icon { background-image: url(img/menu_icons/Menu_about@2x_red.png); }
		}
	}
	/*Иконки меню - Активное состояние */
	.menu__item.evaluation.active .icon {
		background-image: url(img/menu_icons/Menu_evaluation@2x_red.png);
	}
	.menu__item.program.active .icon {
		background-image: url(img/menu_icons/Menu_program@2x_red.png);					
	}
	.menu__item.conditions.active .icon {
		background-image: url(img/menu_icons/Menu_conditions@2x_red.png);					
	}
}

/* Очень маленькие телефоны */
@media screen and (max-width: 350px) {
	.logo span {
		font-size: 20px;
	}

	.header__menu_icon {
		top: 2px;
	}

	.callback {
		top: 2px;
	}
}

@media screen and (max-width: 320px) and (max-height: 480px) and (orientation: portrait) {
	#slider {
		height: 90px;

		.slide {
			height: 100%;
		}
	}
}
@media screen and (max-height: 320px) and (max-width: 480px) and (orientation: landscape) {
	#slider {
		height: 132px;

		.slide {
			height: 100%;
		}
	}
}